*{
    box-sizing: border-box;
}


body{
 
    background: url(img/banner.png) no-repeat center center fixed;  
    background-size: cover;
    background-position: center;
    
    
    }
    

    .intro{
        width: 95%;
        margin: 10px auto;
        background-color: white;
        padding: 20px;
        border-radius: 4px;
        border-color:  black;
        border-style: double;
       
    }

    .intro:hover{
     box-shadow:2px 2px 2px 2px red ;
    }

    .intro img{
        width: 40px;
        height: 30px;
    }

    .main img{

        width: 150px;
        margin: 10px;
        padding: 10px;
        border-radius: 30px;

    }

    .main div{
        border-radius: 4px;
        border-color:  black;
        border-style: double;
    }

    .car div :hover{

        box-shadow: 5px 5px 10px rgba(9, 238, 1, 0.575);

    }

    .mission p{
        font-size: 2rem;
        background-color: rgb(43, 43, 43);
        text-align: center;
        color: white;
        padding: 5px;
        font-weight: 500;
        margin: 0%;
    }

    .quick{
        height: 70px; 
        width: 250px ;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRfTQGNXbqji8fph3mOdB21Pbayw-Ecapy_Q&usqp=CAU);
        border: 2px double black;
        padding-top: 20px;
    }

    .quick a{
        text-decoration: none;
        color: black;
        position: relative;
        bottom: 17px;
        text-align: center;
    }

    .quick a:hover{
        text-decoration: underline;
       
        color: blue;
    }

    .quick img{
        
        width: 3rem;
        margin-left: 35px;
        margin-bottom: 30px;
    }

    /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
  }